body {
  position: absolute;
  background-color: thistle;
  width: 850px;
  height: 1000px;
  top: 15px;
  left: 100px;
  padding: 30px 30px 50px 30px;
}
#tbl,
#tbl2 {
  border-collapse: collapse;
  font-size: 15;
  font-family: Zapf-Chancery;
  color: black;
  text-decoration: none;
  text-align: center;
}

.btn {
  position: absolute;
  top: 600px;
  left: 600px;
}
